__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# pytest
.pytest_cache/

# ruff
.ruff_cache/

# data
data/*
!data/seed/
data/seed/*
!data/seed/member_metadata_seed.csv
!data/seed/member_id_aliases.csv
!data/raw/
data/raw/*
!data/raw/house/
data/raw/house/*
!data/raw/house/2023/
data/raw/house/2023/*
!data/raw/house/2023/10060732.pdf
!data/raw/house/2023/10059751.pdf
!data/raw/house/2023/10060621.pdf
!data/raw/house/2023/10056549.pdf
!data/raw/house/2023/10056160.pdf
!data/raw/house/2023/10060006.pdf
!data/raw/house/2023/10055854.pdf
!data/raw/house/2023/10056335.pdf
!data/raw/house/2023/10056570.pdf
!data/raw/house/2023/10057429.pdf
!data/source_indexes/
!data/source_indexes/house/
!data/source_indexes/house/2023FD.xml
site/
*.sqlite
*.sqlite3

.pytest_tmp/
site-real/
!docs/
